* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
  font-family: cursive;
}
.titleColor1 {
  background-color: #e27d5f;
}
.titleColor2 {
  background-color: #bd986b;
}
.titleColor3 {
  background-color: #669874;
}
.sectionColor1 {
  background-color: #7dc2af;
}
.sectionColor2 {
  background-color: #4887b0;
}
.sectionColor3 {
  background-color: #c7493a;
}
@media (max-width: 767px) {
  .headingContainer {
    width: 100%;
    margin: 25px 0;
  }
  .headingStyle {
    text-align: center;
    color: black;
  }
  .card {
    width: 38%;
    margin-left: 4%;
    margin-bottom: 20px;
    border: 1px solid black;
  }
  .cardHeading {
    width: 32%;
    text-align: center;
    font-size: 12px;
    float: right;
    border: 1px solid black;
  }
  .cardPara {
    width: 100%;
    padding: 0 24px 5px 24px;
    clear: both;
  }
  .col-sm-11 {
    float: left;
    width: 91.66%;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  .headingContainer {
    margin: 0 auto;
    width: 20%;
  }
  .headingStyle {
    color: black;
    text-align: center;
  }
  .card {
    width: 38%;
    margin-left: 30px;
    margin-top: 30px;
    border: 1px solid black;
  }
  .cardHeading {
    width: 32%;
    text-align: center;
    font-size: 12px;
    float: right;
    border: 1px solid black;
  }
  .cardPara {
    width: 100%;
    padding: 0 24px 5px 24px;
    clear: both;
  }

  .col-md-5,
  .col-md-11 {
    float: left;
  }
  .col-md-5 {
    width: 43.9%;
  }
  .col-md-11 {
    width: 91.7%;
  }
}
@media (min-width: 992px) {
  .headingContainer {
    margin: 15px auto;
    width: 15%;
  }
  .headingStyle {
    color: black;
  }
  .card {
    width: 38%;
    margin-left: 30px;
    color: white;
    border: 1px solid black;
  }
  .cardHeading {
    width: 32%;
    text-align: center;
    font-size: 12px;
    float: right;
    border: 1px solid black;
  }
  .cardPara {
    width: 100%;
    padding: 0 24px 5px 24px;
    clear: both;
    margin-top: 25px;
    margin-bottom: 5px;
  }
  .col-lg-4 {
    float: left;
    width: 30%;
  }
}
